@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Rampart+One&family=Special+Elite&display=swap');

@media (min-width: 768px) {
	.container h1 {
		color: #4b0082;   
	}
	.container p {
		color: #cd5c5c;
	}

}

body {
	background: url('assets/jene-stephaniuk.jpg');
	background-size: cover;
}
/* Specific to the menu bar */
.menu_bar {
	background-color: black;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5%;
}

.logo {
	color: #ffd700;
	font-size: 37px;
}

.logo span {
	color: #ff8c00;
}

.menu_bar ul {
	list-style: none;
	display: flex;
}

.menu_bar ul li {
	padding: 10px 30px;
}

/* From uiverse.io by @kirzin */
.menu_bar ul li a {
	text-decoration: none;
	position: sticky;
	border: none;
	font-size: 24px;
	font-family: inherit;
	color: #fff;
	width: 9em;
	height: 3em;
	line-height: 2em;
	text-align: center;
	background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
	background-size: 300%;
	border-radius: 30px;
	padding: 10px;
	z-index: 1;
}

.menu_bar ul li a:hover {
	animation: ani 8s linear infinite;
	border: none;
}

@keyframes ani {
	0% {
		background-position: 0%;
	}
	100% {
		background-position: 400%;
	}
}

.menu_bar ul li a:before {
	content: '';
	position: absolute;
	top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
	z-index: -1;
	background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
	background-size: 400%;
	border-radius: 35px;
	transition: 1s;
    box-sizing: border-box;
}

.menu_bar ul li a:before {
	filter: blur(20px);
}

.menu_bar ul li a:active {
	background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}
/* End of menu bar codes */

/* Quotes container */
.container {
	/* background-color: blanchedalmond; */
	/* box-sizing: border-box; */
	
	width: 70%;
	padding: 30px;
	min-height: 60%;
	border: 3px solid;
	background-position: center;
	display: grid;
	flex-direction: column;
	margin: 16px auto;
	margin-top: 15%;
	font-family: 'Patrick Hand';
	/* font-family: 'Special Elite'; */
	animation: container 10s ease infinite;	
}
/* Quote box background color change */
@keyframes container {
	0% {
		background-color: #fff8dc;
	}
	20% {
		background-color: #ffc0cb;
	}
	40% {
		background-color: #b0e0e6;
	}
	60% {
		background-color: #d88fe8;
	}
	80% {
		background-color: #85bc8f;
	}
	100% {
		background-color: #f4a460;
	}
}

.quote-text {
	min-height: 10px;
	line-height: 1.6;
	text-align: center;
}

/** Quote text */
.container h1 {
	font-size: 33px;
	text-align: left;
	font-style: italic;
}

/** Author text */
.container p {
	text-transform: capitalize;
	text-align: right;
	font-style: italic;
	font-size: 33px;
}

#btn {
	font-size: 28px;
	padding: 10px 20px;
	background-color: #e6e6fa;
	color: #0000ff;
	text-transform: uppercase;
	font-family: 'Patrick Hand';
	margin: 0 auto;
    border-radius: 35px;
}

#btn:hover {
	color: dodgerblue;
	background-color: gold;
}
